.square {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE/Edge */
  user-select: none;         /* Standard */
}

.square:hover {
  cursor: pointer;
}

.square_label {
  position: absolute;
  top: 0;
  left: 0;
}
